.git
.gitignore

venv/

__pycache__/
*.py[cod]

.scrapy/

.vscode/
.idea/

.DS_Store
Thumbs.db

*.log

build/
dist/
*.egg-info/

*.db
extracted_data/

twistd.pid

# Scrapyd runtime
eggs/
logs/
items/
dbs/