# Virtual environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Scrapy
.scrapy/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Output
extracted_data/

# Db
*.db